# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Production
build

# Environment variables
.env*.local

# Debug
*.log

# OS
.DS_Store

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# Misc
README.md